{% extends "base.html" %}
{% load static %}
{% block menu %}active{% endblock menu %}
{% block slider %}
      <section class="slider_section">
              <div class="container">
                <class="row">
                  <div class="col-md-8 col-lg-8">
                    <div class="detail-box">
                      <h1> Welcome to Burger shop </h1>
                      <h2>– Our Menu <span class="text-warning">⭣</span></h2>

                      <div class="btn-box">
                        <a href="#menu" class="btn1">Our Menu </a>
                      </div>
                    </div>
                  </div>
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>{{message}}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
      </section>
{% endblock slider %}



{% block content %}
  <section id="menu"  class="food_section layout_padding">
    <div class="container ">
      <div class="heading_container heading_center">
        <h2>
          Our Menu
        </h2>
      </div>
<br>
        <div class="row grid">
          {% for menu in allmenu %}
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{{menu.img.url}}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>{{menu.title}}</h5>
                  <p>
                    {{menu.desc}}
                  </p>
                  <div class="options">
                    <h6>Rs.{{menu.mrp}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>

  </section>

  <!-- end food section -->

  {% endblock content %}
  